@use 'variables.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $root-font-size;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-family-base;
  color: $color-text-dark;
  line-height: 1.5;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
